.event-soledetails-container {
    max-width: 800px;
    margin: 20px auto;
    background: #FFF6F6;
    padding: 20px;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
}

.event-details-main {
    display: flex;
    gap: 20px;
   
    align-items: flex-start;
}

.event-details-image {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: -250px;
}



.event-info {
    flex: 1;
}

.event-title {
    font-size: 40px;
    font-weight: bold;
}



