
@font-face {
    font-family: 'Bogart Trial';
    src: url('../assets/fonts/Bogart-Extrabold-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.eventspage-header {
    font-family: 'Bogart Trial', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.h1 {
    font-family: 'Bogart Trial', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 50px;
}