
  @font-face {
    font-family: 'helvetic';
    src: url('../../assets/fonts/HelveticaNowText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.blogs-sec {
    max-width: 100%;
    overflow: hidden;
    gap: 5px;
    padding: 0;
    margin-top: 20px;
}

.blogs-header{
    font-family: 'Bogart Trial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 100px 0 150px;
}

.blogs-bg{
    background: linear-gradient(to bottom, #FF3B6A, #FE93B4);
    z-index:-1;
    margin-top:70px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.blogs-bg-tk{
    height: auto;
    max-width: clamp(200px, 60rem, 600px); 
    padding: 0;
    align-items: flex-end;
    margin-top: 140px;
    position: absolute;
    left: 0;
}

.blogs-content{
    z-index:1;
    margin-top: -70px;
    position:relative;
    
}

.blogs-container {
    display: flex;
    padding: 20px;
    gap:30px;
}

.blog-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 330px;
    font-family: 'helvetic', sans-serif;
}

.blog-box:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px); 
}

.blogs-image-container {
    background: rgba(56, 11, 123, 0);
    border-radius: 10px 10px 0 0;
    width: 330px;
    height: 230px; 
    z-index: 1000;
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

.blogs-image-container img {
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    object-fit: cover; 
}

.blog-title{
    font-size: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    color:rgb(0, 0, 0);
}

.blog-category{
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    color: #FF5A89;
    font-style: italic;
}

.blog-description{
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    text-align: justify;
    color:rgb(0, 0, 0);
}

.blogs-sec-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.nav-blogs {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 50px; 
    padding: 12px 70px; 
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
    text-decoration: none;
    gap: 8px; 
}

.nav-blogs img {
    width: 25px; 
    height: auto; 
    padding: 3px;
    margin:0;
}

.nav-blogs:hover {
    background-color: #efedee;
    transform: scale(1.05); 
}

